body {
  background-color: var(--whitee);
  letter-spacing: .1rem;
}

.quiz-pg-container {
  background-color: var(--green-250);
  border-radius: 9px;
  height: 100vh;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 68vw;  
}

#quiz {
  position: relative;
}

#main-quiz-container {
  margin-bottom: 3rem;
  padding: 0 35rem;
}

h2.main-quiz {
  color: var(--green-600);
  font-size: 2.2rem;
  margin-top: 0;
  text-transform: uppercase;
}

/* Horizontal rule */
.topmost-bar1,
.topmost-bar2 {
  position: absolute;
  top: 0;
  left: 0;
}

.topmost-bar1 {
  background-color: var(--green-400);
  border-radius: 9px 0px 0px 0px;
  height: 1.8rem;
  width: 20%;
}

.topmost-bar2 {
  background-color: var(--green-400);
  border-radius: 9px 0px 0px 0px;
  height: 1.8rem;
  opacity: 0.1;
  width: 100%;
}

hr.first-line {
  border: 1px solid var(--gray-200);
  opacity: 0.5;
  width: 100%;
}

hr.second-line {
  border-top: 4px solid #fff;
  margin: -.03rem 0;
  opacity: 0.5;
  width: 100%;
}

/* Quiz Multiple Choice Section */
.choices-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  z-index: 5;
}

.choice-container {
  background-color: var(--whitee);
  border: 0.1rem solid rgba(86, 165, 235, 0.25);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  min-height: 9rem;
  padding: 1rem;
  width: 45%;
}

.choice-container:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  background-color: var(--green-250);
  border-radius: 50%;
  color: var(--green-800);
  font-size: 2rem;
  font-weight: 700;
  margin: 0 2rem;
  padding: 1rem 1.6rem;
}

.choice-text {
  font-weight: 700;
  padding: 1.5rem;
}

.correct {
  background-color: var(--green-alt-500);
  color: var(--whitee);
}

.incorrect {
  background-color: var(--red-500);
  color: var(--whitee);
}

/* heads-up display = HUD */

#hud {
  display: flex;
  justify-content: space-around;
}

#hud-item {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.hud-prefix, .hud-main-text {
  color: var(--green-600);
  font-size: 1.7rem;
  font-weight: 700;
}

.hud-prefix {
  margin-right: 1rem;
}

#progress-bar {
  border: 0.2rem solid var(--green-300);
  height: 1.9rem;
  width: 20rem;
}

#progress-bar-full {
  background-color: var(--green-300);
  height: 1.7rem;
  width: 0%;
}

/* Loader */
#loader {
  animation: spin 1.5s linear infinite;
  border: 1.6rem solid var(--whitee);
  border-radius: 50%;
  border-top: 1.2rem solid var(--green-400);
  height: 10rem;
  margin: 0 auto;
  margin-top: 4rem;
  width: 10rem;
}

/* Illustrations  */
.shoe-img {
  position: absolute;
  left: -3%;
  transform: rotate(25deg);
  top: 46%;
  width: 18%;
}

.orange-img {
  position: absolute;
  right: 21%;
  transform: rotate(-40deg);
  top: 20%;
  width: 9%;
}

.banana-img {
  position: absolute;
  right: -3%;
  transform: rotate(-40deg);
  top: 16%;
  width: 15%;
}

.bicycle-img {
  position: absolute;
  right: -2%;
  transform: rotate(20deg);
  top: 50%;
  width: 35%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

@media (max-width: 1875px) {
  .quiz-pg-container {
    width: 90vw;  
  }

  .choice-container {
    width: 50%;
  }

}

@media (max-width: 1090px) {
  .quiz-pg-container {
    width: 90vw;  
  }

  .choice-container {
    width: 50%;
  }

}
/* Small Mobile Device */
@media (max-width: 700px) {
  .quiz-pg-container {
    width: 100vw;  
  }
  
  #main-quiz-container {
    margin-bottom: 1rem;
    padding: 0 3rem;
  }
  
  /* h2.main-quiz {
    color: var(--green-600);
    font-size: 2.2rem;
    margin-top: 0;
    text-transform: uppercase;
  } */









  #quiz {
    margin: 0 auto;
    width: 90vw;
  }

  h2.main-quiz {
    font-size: 1.8rem !important;
  }

  #progress-bar {
    border: 0.2rem solid var(--green-300);
    height: 1rem;
    width: 10rem;
  }
  
  #progress-bar-full {
    background-color: var(--green-300);
    height: .8rem;
    width: 0%;
  }

  .hud-main-sm {
    width: 50%;
  }

  h2.main-quiz {
    font-size: 1.8rem;
  }

  .choice-container {
    width: 85%;
  }

  .shoe-img {
    top: 66%;
  }

  .orange-img {
    left: 5%;
  }

  .bicycle-img {
    top: 65%;
    /* width: 35%; */
  }

}
