@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* root font size */
    font-size: 62.5%;
  /* gray-colors */
  --whitee: #fff;
  --gray-100: #e9e9e9;
  --gray-200: #a5a5a5;
  --gray-300: #707070;
  /* green-colors */
  --green-200: #e6fffb;
  --green-250: #CDF7F0;
  --green-300: #66DEE2;
  --green-400: #01C6CA;
  --green-600: #004A7A;
  --green-800: #002741;
}

* {
  box-sizing: border-box;
  color: #333;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--green-200);
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

h1 {
  color: var(--green-600);
  font-size: 5.4rem;
  /* font-weight: 700; */
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 80rem;
  width: 100vw;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;  
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Button */
a.btn {
  background-color: var(--whitee);
  border: 0.1rem solid var(--green-600);
  color: var(--green-600);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}

a.btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: 150ms;
}

.btn[disabled]:hover {
  box-shadow: none;
  cursor: pointer;
  transform: none;
}